
@media (max-width:1400px){
    .container{
        max-width: 1280px;
    }
    header .header_left{
        gap: 20px;
    }
    header .header_menus{
        gap: 20px;
    }
    header .header_right {
        gap: 20px;
    }

    // ABOUT COMPANY
    .our_products_bg{
        min-width: 100%;
        min-height: 100%;
        width: unset;
        height: unset;
    }
    .about_section .about_card {
        min-height: 480px;
    }
    .about_section .about_card_desc {
        max-width: 727px;
        width: 100%;
    }

    // NEWS GLORINCOR
    .glorincor_news .swiper_content_left .swiper_text{
        max-width: 450px;
    }
    .glorincor_news .swiper{
        height: 600px;
    }
    .glorincor_news .swiper_content::after{
        height: 500px;
    }
    .glorincor_news .glorincor_news-pagination{
        padding-left: 0;
        left: -80px;
        text-align: right;
        top: -80px;
    }
    .news_card{
        width: 361px;
    }

    // NEWS
    .news_card_img img{
        height: 254px;
    }

    // REVIEWS
    .reviews_img img {
        bottom: 33px;
    }
}
@media (max-width: 1300px) {
    .container{
        max-width: 1150px;
    }

    // BLOG
    .blog_news .news_block {
        display: grid;
        grid-template-columns: repeat(4, calc(25% - 5px));
        gap: 10px;
    }

    // 404
    .error_wrapper{
        padding-top: 40px;
    }
    .error_wrapper .center_img img{
        transform: scale(.8);
    }
}
@media (max-width:1200px){
    .container{
        max-width: 960px;
    }
    .search_overlay{
        width: 0;
        height: 0;
        z-index: -1;
    }
    // header
    .wrapper{
        padding-top: 88px;
    }
    header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
        .mobile_search_block{
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 100%;
            display: block;
            background-color: $light-back;
            transition: left 0.5s ease;
            z-index: 4000;
            &.active{
                left: 0;
            }
        }
        .mobile_search_top{
            background-color: $white;
            padding: 30px 0;
            margin-bottom: 25px;
            .mobile_search_back{
                outline: none;
                border: none;
                background-color: transparent;
                display: flex;
                align-items: center;
                gap: 7px;

                color: $dark;
                font-family: 'Gilroy';
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            .mobile_search_brand{
                color: #000;
                font-family: 'Gilroy';
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            .container{
                display: flex;
                gap: 76px;
            }
        }
        .header_search {
            width: 100%;
            height: 55px;
            z-index: 1000;
        }
        .search_suggestions{
            top: 180px;
            max-width: 960px;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    header .header_bottom{
        transition: all .3s ease;
    }
    header .header_bottom.active{
        border-radius: 0 0 20px 20px;
    }
    header .logo__mobile_desc{
        display: block;
        color: #6F7984;
        font-family: 'Gilroy';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    header .header_block{
        flex-direction: column;
    }
    header .header_right{
        position: relative;
        bottom: 100%;
        display: none;
        padding-top: 16px;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        align-items: flex-start;
    }
    .header .header_menus{
        width: 100%;
        flex-direction: column;
        gap: 0;
    }
    .header .header_menus li{
        border-bottom: 1px solid #EBEDF4;
        padding: 15px 0;
    }
    .header .header_menus li:last-child{
        border-bottom: unset;
    }
    header .buy_from{
        width: 50%;
        margin: 0 auto;
        justify-content: center;
    }
    header .hamurger_menu{
        display: block;
    }
    header .mobile_search{
        display: block;
    }
    .header .header_top {
        display: none;
    }
    header .header_left{
        width: 100%;
        justify-content: space-between;
    }

    header .header_right {
        // display: none;
    }
    .header .logo_desc {
        display: none;
    }

    // PRODUCT_ADV
    .products_adv .product_swiper_prev {
        left: 0;
    }
    .products_adv .product_swiper_next {
        right: 0;
    }

    // ABOUT COMPANY
    .about_section .about_card {
        min-height: 620px;
    }
    .about_section .statistics{
        gap: 10px;
    }
    .about_section .statistics_result h3{
        font-size: 50px;
    }
    .our_products .row_5 {
        display: grid;
        grid-template-columns: repeat(4, calc(25% - 15px));
    }
    .our_products_card.centered .our_products_img {
        bottom: 15px;
    }
    .news_cards {
        grid-template-columns: repeat(2, calc(50% - 10px));
    }
    .news_card{
        width: auto;
    }
    .news_card_img img {
        height: auto;
    }
    .news_form{
        width: calc(200% + 20px);
        margin-bottom: 40px;
    }

    .reviews_img img {
        bottom: 0;
    }
    .reviews .reviews_swiper_pagination {
        bottom: 56px;
    }
    // footer
    footer .footer_main{
        gap: 50px;
    }
    footer .footer_right{
        gap: 30px;
    }


    // CATALOG
    .catalog_main{
        .catalog_cards{
            grid-template-columns: repeat(2, calc(50% - 10px));
        }
        .catalog_empty{
            position: relative;
            padding: 25px 25px 60px;
            height: auto;
            .left_img{
                display: none;
            }
            .bottom_img{
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
    .catalog_hero_top h2 {
        max-width: 450px;
        font-size: 36px;
    }

    // COMPANY
    .company_offer .card_items{
        flex-wrap: wrap;
    }

}
@media (max-width:992px){
    .container{
        max-width: 720px;
    }
    header .search_suggestions{
        max-width: 720px;
    }

    // HERO
    .hero .swiper_content_box h2{
        font-size: 34px;
    }

    .products_adv .products_adv_top h3{
        font-size: 36px;
    }
    .products_adv .swiper-slide{
        display: flex;
        justify-content: center;
    }
    .about_section .about_card_body {
        flex-direction: column;
        gap: 14px;
    }
    .about_section .about_card_left h3{
        max-width: 100%;
        font-size: 40px;
        margin-bottom: 6px;
        text-align: center;
    }
    .about_section .about_card_left p {
        font-size: 22px;
        text-align: center;
    }
    .about_section .about_card_left p span{
        font-size: 44px;
    }
    .about_section .about_card_desc p {
        font-size: 20px;
        text-align: center;
    }
    .about_section .about_card_btn{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .about_section .statistics{
        gap: 35px 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .company_hero .statistics{
        gap: 35px 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .our_products_top h3{
        font-size: 36px;
    }
    .our_products .row_3{
        grid-template-columns: repeat(2, calc(50% - 10px));
    }
    .our_products .row_5{
        grid-template-columns: repeat(3, calc(33% - 13.33px));
    }
    .glorincor_news_top{
        margin-bottom: 30px;
    }
    .glorincor_news_top h3{
        font-size: 36px;
    }
    .glorincor_news .swiper_content_left h3{
        text-align: center;
    }
    .glorincor_news .swiper_content_left .swiper_text {
        text-align: center;
        max-width: 100%;
    }
    .glorincor_news .swiper_content_left a{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .glorincor_news .swiper_content{
        padding: 40px 0 100px;
        flex-direction: column;
    }
    .glorincor_news .swiper_content_left{
        width: 100%;
        
        padding: 0 20px;
    }
    .glorincor_news .swiper_content_right{
        width: 100%;
    }
    .glorincor_news .swiper_content::after{
        top: 0;
        right: 0;
        height: 100%;
    }
    .glorincor_news .swiper{
        height: auto;
        border-radius: 44px;

    }
    .glorincor_news .glorincor_news-pagination{
        text-align: center;
        left: 0;
        bottom: -50px;
    }
    .reviews .container{
        padding: 40px 0 60px;
    }
    .reviews h2 {
        text-align: center;
        position: unset;
        font-size: 36px;
        margin-bottom: 20px;
    }
    .reviews .swiper_box{
        top: 0;
    }
    .reviews .swiper{
        height: auto;
    }
    .reviews .reviews_send{
        bottom: -20px;
    }
    .reviews_content{
        flex-direction: column;
        align-items: center;
        border-radius: 33px;
        padding: 35px 36px;
        gap: 33px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #20335D;
    }
    .reviews_content_left{
        padding: 0;
        top: 0;
        border-radius: 0;
        z-index: unset;
    }
    .reviews_content_right{
        left: 0;
    }
    .reviews_content_left p {
        margin-bottom: 37px;
    }
    .reviews_img img {
        bottom: 20px;
    }
    // footer
    footer .footer_main{
        flex-direction: column;

    }
    footer .footer_left{
        width: 100%;
    }
    footer .taking_tutorial{
        width: 100%;
        align-items: center;
    }
    footer .footer_logo {
        text-align: center;
    }

    // CATALOG
    .catalog_hero{
        position: relative;
        padding-bottom: 75px;
        .catalog_hero_card{
            flex-direction: column;
            gap: 50px;
        }
        &_top{
        }
        .searching_block{
            width: 100%;
            position: absolute;
            bottom: 0;
            display: flex;
            gap: 10px;
        }
        .show_filter{
            display: flex;
        }
    }
    .catalog_main{
        .catalog_left{
            top: 100%;
            border-radius: 33px 33px 0 0;
            left: 0;
            max-width: 100vw;
            position: fixed;
            overflow-y: scroll;
            transition: top 0.5s ease;
            z-index: 5000;
            &.active{
                top: 145px;
            }
        }
        .catalog_filter{
            position: relative;
            li{
                .desc{
                    font-size: 14px;
                }
            }
            .mobile_filter_back{
                display: block;
                outline: none;
                border: none;
                background-color: transparent;
                position: absolute;
                top: 28px;
                right: 28px;
            }
            .reset_filter{
                border: 1px solid $dark;
                outline: none;
                height: 100%;
                color: $dark;
                text-align: center;
                font-family: 'Gilroy';
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                padding: 15px 18px;
                border-radius: 100px;
                transition: all .3s ease;
                &.desktop_filter_reset{
                    display: none;
                }
                &:hover{
                    background-color: $main-color;
                    color: $white;
                    border-color: $main-color;
                }
            }
            .mobile_filter_btns{
                padding-top: 10px;
                display: flex;
                padding-left: 1px;
                gap: 8px;
            }
            .apply_filter{
                display: block;
                outline: none;
                border: none;
                height: 100%;
                border-radius: 100px;
                background: linear-gradient(
                    0deg,
                    rgba(0, 0, 0, 0.2) 0%,
                    rgba(0, 0, 0, 0.2) 100%
                ), 
                $main-color;
                padding: 15px 27px;
                color: $white;
                text-align: center;
                font-family: 'Gilroy';
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                transition: background-color .3s ease;
                &:hover{
                    background-color: $main-color-hover;
                }
            }
            &_top{
                justify-content: center;
                border-bottom: unset;
                h3{
                    font-size: 20px;
                }
            }
            &_main{
                height: calc(100vh - 210px);
                max-height: 100%;
                overflow-y: auto;
                margin-top: 0;
                padding-top: 10px;
                padding-bottom: 20px;
                gap: 20px;
                scroll-behavior: smooth; /* Scrollni silliq harakatlanish */
            }
            .show_all{
                width: 100%;
                font-size: 14px;
            }
            .catalog_filter_title{
                font-size: 16px;
            }
            &_item{
                width: 100%;
            }
        }
        .catalog_right{
            max-width: 100%;
        }
    }

    // COMPANY
    .company_hero_card {
        padding: 55px 32px 140px;
    }
    .company_offer .card_items {
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }
    .company_offer_title{
        font-size: 38px;
    }

    // CONTACT
    .contact_section .container{
        flex-direction: column;
    }

    // BLOG
    .blog_main h2{
        font-size: 36px;
    }
    .blog_main .blog_product{
        flex-direction: column;
    }
    .blog_main .blog_product_left{
        width: 100%;
    }
    .blog_main .blog_product_right{
        width: 100%;
    }
    .blog_news .news_block{
        grid-template-columns: repeat(2, calc(50% - 10px));
        gap: 40px 20px;
    }
}
@media (max-width:768px){
    .container{
        max-width: 540px;
    }
    header .search_suggestions{
        max-width: 540px;
    }

    .hero{
        padding: 45px 0;
        .swiper{
            border-radius: 33px;
        }
        .swiper_btns{
            display: none;
        }
        .swiper-pagination{
            text-align: center;
            padding-left: 0;
            padding-bottom: 0;
        }
        .swiper-pagination-bullet{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #C8CDE8;
        }
        .swiper-pagination-bullet-active{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #EBEDF4;
        }
        .swiper-slide{
            width: 100%;
            height: 335px;
        }
        .swiper_content{
            border-radius: 33px;
            img{
                border-radius: 33px;
            }
        }
        .swiper_content_box{
            position: relative;
            z-index: 100;
            padding: 36px 16px 55px;
    
            h2{
                max-width: 100%;
                width: 100%;
                color: $white;
                font-family: 'Gilroy';
                font-size: 26px;
                font-style: normal;
                font-weight: 600;
                line-height: 130%; /* 65px */
                text-transform: uppercase;
                margin-bottom: 19px;
            }
            p{
                max-width: 100%;
                width: 100%;
                color: $white;
                font-family: 'Gilroy';
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%; /* 23.4px */
                margin-bottom: 30px;
            }
            button{
                width: 100%;
                background-color: $white;
                outline: none;
                border: none;
                border-radius: 100px;
                padding: 18px 43px;
                color: $main-color;
                font-size: 16px;
                transition: all .3s ease;
                &:hover{
                    color: $white;
                    background-color: $main-color;
                }
            }
        }
    }

    .products_adv{
        padding-top: 0;
        .products_adv_top{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            margin-bottom: 0;
            h3{
                color: $dark-black;
                font-family: 'Gilroy';
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
            a{
                position: relative;
                top: 560px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: $dark-black;
                font-family: 'Gilroy';
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                transition: opacity .3s ease;
                &:hover{
                    opacity: .7;
                }
            }
        }
        .product_card{
            padding: 30px 20px;
            border-radius: 33px;
            background: rgba(255, 255, 255, 0.65);
            box-shadow: 0px 13.618px 13.618px 0px rgba(31, 170, 227, 0.03);
            .card_facilities{
                display: grid;
                grid-template-columns: auto auto;
                gap: 4px;
                align-items: center;
            }
            .card_facility{
                height: 100%;
                border-radius: 100px;
                background: $white;
                display: flex;
                align-items: center;
                background: $white;
                box-shadow: 0px 4px 13px 0px rgba(16, 111, 150, 0.02);
    
                color: $main-color;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 600;
                &.degree{
                    padding: 11px 12px;
                    gap: 9px;
                    font-size: 14px;
                    line-height: 130%; /* 23.4px */
                    img{
                        width: 17px;
                    }
                }
                &.name{
                    padding: 8.5px 11px;
                    gap: 4px;
                    font-size: 14px;
                    text-transform: uppercase;
                    img{
                        width: 27px;
                    }
                }
            }
            .card_img{
                margin: 30px 0;
            }
            .card_title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                h3{
                    color: $dark-black;
                    font-family: 'Gilroy';
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }
            .card_rate{
                display: flex;
                align-items: center;
                gap: 11px;
                color: $dark-black;
                font-family: 'Gilroy';
                font-size: 20.428px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%; /* 26.556px */
            }
            .card_desc{
                margin-bottom: 20px;
                p{
                    color: $grey;
                    font-family: 'Gilroy';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
            }
            .card_btn{
                width: 100%;
                border-radius: 100px;
                padding: 15px;
                background: linear-gradient(
                    0deg,
                    rgba(0, 0, 0, 0.2) 0%,
                    rgba(0, 0, 0, 0.2) 100%
                ), 
                $main-color;
    
                color: $white;
                text-align: center;
                font-family: 'Gilroy';
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                transition: background-color .3s ease;
                &:hover{
                    background-color: $main-color-hover;
                }
            }
        }
        .swiper_part{
            position: relative;
            margin-bottom: 125px;
        }
        .swiper {
            width: 100%;
            border-radius: 44.941px;
            overflow: unset;
        }
        .swiper-slide{
            width: auto;
        }
        .swiper_btns{
            display: none;
        }
        .swiper-pagination-progressbar {
            display: block;

        }
    }

    .about_section{
        .about_card{
            border-radius: 33px;
            background-image: url("../img/about_card_mobile_bg.svg");
            height: auto;
        }
        // .about_card_body{
        //     gap: 14px;
        // }
        // .about_card_left{
        //     padding: 0;
        //     h3{
        //         font-style: 26px;
        //     }
        //     p{
        //         font-size: 16px;
        //         span{
        //             font-size: 30px;
        //         }
        //     }
        // }
        // .about_card_desc{
        //     p{
        //         font-size: 14px;
        //     }
        // }
        // .about_card_btn{
        //     width: 100%;
        // }
    }

    .our_products{
        padding: 25px 0 198px;
        .swiper_block{
            display: block;
            position: relative;
        }
        .swiper{
            overflow: unset;
        }
        &_block{
            display: none;
        }
        &_top{
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            h3{
                font-size: 22px;
                text-align: center;
            }
            a{  
                width: 100%;
                font-size: 16px;
                position: relative;
                top: 366px;
            }
        }
        &_card{
            width: 232px;
            height: 230px;
        }
        .swiper-slide{
            width: auto;
        }
        .swiper-pagination-progressbar {
            display: block;
            overflow: hidden;
            height: 10px;
            top: calc(100% + 20px);
            border-radius: 100px;
            background-color: $light-back;
            .swiper-pagination-progressbar-fill{
                // position: relative;
                background: transparent;
                z-index: 0;
                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 10px;
                    border-radius: 100px;
                    background: linear-gradient(
                        0deg,
                        rgba(0, 0, 0, 0.2) 0%,
                        rgba(0, 0, 0, 0.2) 100%
                    ), 
                    $main-color;
                    z-index: 1;
                }
            }
        }
    }

    .glorincor_news{
        padding: 44px 0 95px;
        .container{
            width: 100%;
        }
        &_top{
            max-width: 540px;
            width: 100%;
            flex-direction: column;
            h3{
                font-size: 22px;
            }
            a{
                font-size: 16px;
            }
        }
        
        .swiper_content_left{
            h3{
                 font-size: 22px;   
            }
            .swiper_text{
                p{
                    font-size: 14px;
                }
                a{
                    width: 100%;
                    font-size: 16px;
                    position: relative;
                    top: 990px;
                }
            }
        }
        .swiper_img{
            img{
                max-width: 250px;
                width: 100%;
            }
        }
        .swiper_btns{
            display: none;
        }
        .glorincor_news-pagination{
            position: relative;
            bottom: unset;
            gap: 8px;
            top: -80px;
            z-index: 99;
            text-align: center;
            padding-left: 0;
        }
        .swiper-pagination-bullet{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #EBEDF4;
        }
        .swiper-pagination-bullet-active{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #C8CDE8;
        }
    }

    .news{
        padding-bottom: 100px;
        &_top{
            flex-direction: column;
            a{
                width: 100%;
                font-size: 16px;
                position: relative;
                top: 700px;
            }
        }
        .for_desktop{
            display: none;
        }
        .swiper_block{
            display: block;
            margin-bottom: 193px;
        }
        .swiper{
            overflow: unset;
        }
        .swiper-slide{
            width: 260px;
        }
        &_form{
            h3{
                font-size: 22px;
            }
        }
    }

    .reviews{
        margin-bottom: 130px;
        .container{
            padding-bottom: 100px;
            position: relative;
        }
        h2{
            font-size: 22px;
        }
        .swiper{
            margin: 0;
            overflow: unset;
        }
        .swiper-slide{
            max-width: 320px;
            width: 100%;
        }
        .swiper_btns{
            display: none;
        }
        .swiper-pagination-progressbar {
            overflow: hidden;
            height: 10px;
            top: unset;
            left: 16px;
            bottom: -20px;
            border-radius: 100px;
            background-color: $light-back;
            .swiper-pagination-progressbar-fill{
                // position: relative;
                background: transparent;
                z-index: 0;
                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 10px;
                    border-radius: 100px;
                    background: linear-gradient(
                        0deg,
                        rgba(0, 0, 0, 0.2) 0%,
                        rgba(0, 0, 0, 0.2) 100%
                    ), 
                    $main-color;
                    z-index: 1;
                }
            }
        }
        .reviews_send{
            bottom: -60px;
            right: 50%;
            transform: translateX(-50%);
        }
        &_content{
            padding: 25px 16px 16px;
        }
        &_content_left{
            p{
                font-size: 14px;
            }
        }
        &_person{
            font-size: 18px;
        }
        &_person_info{
            font-size: 14px;
        }
        &_content_right{
            padding: 0 9px 36px;
            &::after{
                height: 100%;
            }
        }
        .circle{
            z-index: 1;
            top: 20px;
            right: 9px;
            bottom: unset;
        }
        &_img{
            img{
                width: 135px;
                bottom: 108px;
            }
        }
    }



    // CATALOG
    .breadcrumbs{
        padding: 30px 0 15px;
        li{
            font-size: 14px;
        }
    }
    .catalog_hero {
        margin-bottom: 15px;
    }
    .catalog_hero .catalog_search{
        max-width: 420px;
    }
    .catalog_hero_top{
        margin-bottom: 15px;
    }
    .catalog_hero_top h2{
        // max-width: 50%;
        font-size: 22px;
    }
    .catalog_hero .catalog_hero_card{
        border-radius: 33px;
        padding: 30px 16px;
        gap: 18px;
    }
    .catalog_hero_left h3{
        font-size: 22px;
    }
    .catalog_hero_left p{
        font-size: 14px;
    }
    .catalog_hero_right p{
        font-size: 14px;
    }
    .catalog_main .catalog_right h2{
        display: none;
    }
    .catalog_main .catalog_empty{
        padding: 25px;
    }
    .catalog_main .catalog_empty .coming h3{
        font-size: 22px;
    }
    .catalog_main .catalog_empty {
        flex-direction: column;
        align-items: flex-start;
    }
    .catalog_main .catalog_empty .coming p{
        font-size: 14px;
    }
    .catalog_main .catalog_empty .expect_title{
        font-size: 14px;
    }
    .catalog_main .catalog_empty .expect span{
        font-size: 14px;
    }
    // COMPANY
    .company_offer .card_items {
        gap: 15px;
    }

    // CONTACT
    .contact_section .row_3{
        grid-template-columns: auto;
    }
    .contact_section .row_2{
        grid-template-columns: auto;
    }


    // MODALS
    .modal_box{
        padding: 185px 0 0;
    }
    .modal{
        border-radius: 33px 33px 0 0;
    }

}
@media (max-width:576px){
    .container{
        max-width: 100%;
        padding: 0 16px;
    }
    header .search_suggestions{
        max-width: calc(100% - 32px);
        left: 50%;
        transform: translateX(-50%);
    }
    // header
    header .header_logo img{
        width: 160px;
    }
    header .logo__mobile_desc{
        max-width: 343px;
        width: 100%;
    }
    header .buy_from{
        width: 100%;
    }

    .hero .container{
        padding: 0;
    }
    .hero .swiper-slide{
        height: auto;
    }
    .hero .swiper_content_box h2{
        text-align: center;
    }
    .hero .swiper_content_box p{
        text-align: center;
    }
    .products_adv .products_adv_top{
        align-items: flex-start;
    }
    .products_adv .products_adv_top a{
        left: 50%;
        transform: translateX(-50%);
    }
    .products_adv .product_card .card_facilities{
        display: flex;
    }
    .products_adv .product_card {
        max-width: 323px;
    }
    .products_adv .swiper-slide{
        height: auto;
    }
    .products_adv .products_adv_top a{
        top: 530px;
    }
    .products_adv .product_card .card_img img{
        width: 100%;
    }
    .about_section .about_card{
        padding: 30px 0 40px;
        min-height: auto;
    }
    .about_section .about_card_body{
        gap: 0;
    }
    .about_section .about_card_left{
        padding: 0;
    }
    .about_section .about_card_left h3{
        font-size: 26px;
        margin-bottom: 6px;
    }
    .about_section .about_card_left p{
        font-size: 16px;
        margin-bottom: 14px;
    }
    .about_section .about_card_left p span{
        font-size: 30px;
    }
    .about_section .about_card_desc p{
        font-size: 14px;
    }
    .about_section .about_card_btn{
        width: 100%;
    }
    .about_section .statistics{
        margin: 44px 0;
        display: grid;
        grid-template-columns: auto auto;
        flex-wrap: nowrap;
        gap: 30px 7px   ;
    }
    .about_section .statistics_item{
        gap: 10px;
    }
    .about_section .statistics_result h3{
        font-size: 26px;
    }
    .about_section .statistics_result span{
        font-size: 14px;
    }
    .about_section .statistics_desc{
        font-size: 14px;
    }
    .our_products{
        position: relative;
        padding: 25px 0 150px;
    }
    .our_products_top a{
        position: absolute;
        top: unset;
        bottom: 40px;
        width: calc(100% - 32px);
    }
    .glorincor_news{
        position: relative;
        padding: 44px 0 65px;
    }
    .glorincor_news_top{
        align-items: flex-start;
    }
    .glorincor_news_top a{
        position: absolute;
        top: unset;
        bottom: 36px;
        left: 50%;
        transform: translateX(-50%);
    }
    .news{
        position: relative;
        padding-bottom: 40px;
    }
    .news .container{
        padding: 0;
    }
    .news .swiper_block{
        padding: 0 16px;
    }
    .news_top{
        align-items: flex-start;
        margin-bottom: 30px;
        padding: 0 16px;
    }
    .news_top h3{
        font-size: 26px;
    }
    .news_top a{
        width: calc(100% - 32px);
        font-size: 16px;
        position: absolute;
        top: 660px;
        left: 50%;
        transform: translateX(-50%);
    }
    .news_form{
        padding: 70px 16px 40px;
    }
    .news_form .price{
        width: 105px;
    }
    .reviews .reviews_send{
        left: 50%;
        right: unset;
        transform: translateX(-50%);
    }

    // footer
    footer .footer_main {
        gap: 35px;
    }
    footer .footer_right {
        flex-direction: column;
        gap: 35px;

    }
    footer .footer_logo {
        padding: 11px 0 7px;
        border-bottom: unset;
    }
    footer .footer_logo img {
        width: 88px;
    }
    footer .taking_tutorial label{
        margin-bottom: 19px;
    }
    footer .taking_tutorial input{
        margin-bottom: 10px;
    }
    footer .taking_tutorial input, footer .taking_tutorial button{
        width: 100%;
    }




    // CATALOG
    .catalog_main .catalog_cards{
        grid-template-columns: auto;
        justify-content: center;
    }
    .catalog_hero .catalog_search {
        max-width: 231px;
    }
    .catalog_hero_brands{
        gap: 5px;
        img{
            &.ozon_brand{
                width: 34px;
            }
            &.wb_brand{
                width: 34px;
            }
            &.mega_market_brand{
                width: 34px;
            }
            &.eapteka_brand{
                width: 70px;
            }
            &.yandex_market_brand{
                width: 115px;
            }
        }
    }

    // COMPANY
    .company_hero .statistics{
        margin: 130px 0 60px;
        display: grid;
        grid-template-columns: auto auto;
        flex-wrap: nowrap;
        gap: 30px 7px   ;
    }
    .company_hero .statistics_item{
        gap: 10px;
    }
    .company_hero .statistics_result h3{
        font-size: 26px;
    }
    .company_hero .statistics_result span{
        font-size: 14px;
    }
    .company_hero .statistics_desc{
        font-size: 14px;
    }
    .company_hero_card {
        overflow: unset;
        border-radius: 33px;
        padding: 26px 16px 241px;
        width: 100vw;
        position: relative;
        left: -16px;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 100%
        ), 
        $main-color;
        box-shadow: unset;
    }
    .company_hero_card .card_title{
        font-size: 22px;
        margin-bottom: 16px;
    }
    .company_hero_card .text{
        font-size: 14px;
    }
    .company_hero_card .list_title{
        font-size: 18px;
    }
    .company_hero_card ul span{
        font-size: 14px;
    }
    .company_hero_card .company_card_mobile_img{
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .company_hero_card button{
        bottom: -68px;
        width: calc(100% - 32px);
        left: 50%;
        transform: translateX(-50%);
    }.company_offer .container{
        padding: 0;
    }
    .company_offer_card{
        border-radius: 33px;
        padding: 35px 35px 28px;
    }
    .company_offer_title{
        text-align: center;
        margin-bottom: 35px;
        font-size: 22px;
    }
    .company_offer .card_img{
        width: 275px;
        height: 275px;
        border-radius: 137.5px;
    }
    .company_offer .card_img img{
        transform: scale(1.3);
    }
    .company_offer .card_items{
        gap: 30px;
    }


    // CONTACT
    .contact_section .container{
        gap: 22px;
    }
    .contact_section .contact_title{
        font-size: 22px;
    }
    .contact_section .contact_card_title{
        font-size: 16px;
        margin-bottom: 16px;
    }
    .contact_section .contact_card_info{
        font-size: 14px;
        margin-bottom: 16px;
    }
    .contact_section .support{
        font-size: 14px;
    }
    .contact_section .contact_card{
        border-radius: 22px;
        padding: 20px;
    }
    .contact_section .social_icons a{
        font-size: 14px;
    }
    .contact_section .contact_card_desc{
        font-size: 14px;
    }


    // BLOG
    .blog_main h2{
        font-size: 22px;
        max-width: 296px;
        margin-bottom: 20px;
    }
    .blog_main .blog_product{
        gap: 21px;
    }
    .blog_main .blog_product h3{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .blog_main .blog_product p{
        font-size: 14px;
    }
    .blog_main .blog_product a{
        font-size: 16px;
    }
    .blog_news .blog_news_title{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .blog_news .swiper{
        overflow: unset;
    }
    .blog_news .swiper-slide{
        width: 260px;
    }


    // 404
    .error_wrapper {
        padding-top: 0px;
    }   
    .error_wrapper .center_img {
        margin-bottom: 0px;
    }
    .error_wrapper .center_img img {
        transform: scale(0.5);
    }
    .error_wrapper h3{
        font-size: 22px;
    }
    .error_wrapper .error_btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .error_wrapper .error_btns a {
        padding: 12px 17px;
        font-size: 12px;
    }


    // MODALS
    .modal{
        padding: 40px 16px 30px;
    }
    .commend_modal{
        display: none;
        max-width: 100%;
        width: 100%;
        .commend_modal_img{
            display: flex;
            justify-content: center;
            margin-bottom: 4px;
            img{
                width: 87px;
            }
        }
        form{
            display: flex;
            flex-direction: column;
            h3{
                color: $dark-black;
                text-align: center;
                font-family: 'Gilroy';
                font-size: 25px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-bottom: 10px;
            }
            p{
            color: $dark-black;
            text-align: center;
            font-family: 'Gilroy';
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 30px;
            }
            .form_group{
                display: flex;
                flex-direction: column-reverse;
                gap: 6px;
                margin-bottom: 15px;
            }
            label{
                color: $dark-black;
                font-family: 'Gilroy';
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%; /* 21px */
                transition: color .3s ease;
            }
            .product_select_label{
                &.active{
                    color: $light-blue;
                }
            }
            .form_send_btn{
                border: none;
                outline: none;
                padding: 12px;
                width: 100%;
                background-color: $main-color;
                border-radius: 100px;
                color: $white;
                font-family: 'Gilroy';
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                cursor: pointer;
                transition: background-color .3s ease;
                &:hover{
                    background-color: $main-color-hover;
                }
            }
            input{
                outline: none;
                border: none;
                border-radius: 100px;
                background: $light-back;
                padding: 17px 20px;
                transition: all .3s ease;
                &::placeholder{
                    color: $grey;
                    font-family: 'Gilroy';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%; /* 22.4px */
                }
                &:focus ~ label{
                    color: $light-blue;
                }
                &:focus{
                    background-color: transparent;
                    outline: 1px solid $light-blue;
                }
            }
            textarea{
                outline: none;
                border: none;
                resize: none;
                height: 150px;
                border-radius: 33px;
                background: $light-back;
                padding: 17px 20px;
                transition: all .3s ease;
                &::placeholder{
                    color: $grey;
                    font-family: 'Gilroy';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%; /* 22.4px */
                }
                &:focus ~ label{
                    color: $light-blue;
                }
                &:focus{
                    background-color: transparent;
                    outline: 1px solid $light-blue;
                }
            }
        }
    }

    .blog_modal{
        padding: 31px 16px 140px;
        h3{
            font-size: 18px;
            margin-bottom: 20px;
        }
        .blog_modal_body{
            padding-right: 10px;
        }
        .blog_modal_img{
            margin-bottom: 20px;
        }
        .text_p{
            text-align: center;
            p{
                font-size: 14px;
            }
            li{
                font-size: 14px;
            }
        }
        .blog_progress{
            bottom: 105px;
        }
        .blog_copy {
            .copy_success{
                padding: 20px 30px;
                text-wrap: nowrap;
                font-size: 16px;
            }
            .blog_copy_btn{
                font-size: 16px;
                bottom: 55px;
                text-wrap: nowrap;
            }
        }
    }
}
